<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="cont">
        <div class="form sign-in">
            <h2>Seja bem-vindo</h2>
            <label for="">
                <span>E-mail</span>
                <input type="email" name="emailSignIn">
            </label>

            <label for="">
                <span>Senha</span>
                <input type="password" name="passwordSignIn">
            </label>

            <p class="forgot-pass"><a href="#">Esqueceu sua senha?</a></p>
            <button type="submit" class="submit">Entrar</button>
        </div>

        <div class="sub-cont">
            <div class="img">
                <div class="img__text m--up">
                    <h2>Novo aqui?</h2>
                    <p>Acesse, e descubra as novas oportunidades que temos para você. Inscreva-se no botão abaixo!</p>
                </div>

                <div class="img__text m--in">
                    <h2>Já é um dos nossos?</h2>
                    <p>Se já tem uma conta, apenas acesse o botão abaixo e entre com seu e-mail e senha</p>
                </div>

                <div class="img__btn">
                    <span class="m--up">Cadastrar</span>
                    <span class="m--in">Entrar</span>
                </div>
            </div>
            <form action="/login/signUp" method="POST">
            <div class="form sign-up">
                <h2>Sinta-se em casa</h2>
                <label for="name">
                    <span>Nome</span>
                    <input type="text" name="name">
                </label>
                
                <label for="">
                    <span>Email</span>
                    <input type="email" name="emailSignUp">
                </label>

                <label for="">
                    <span>Senha</span>
                    <input type="password" name="passwordSignUp">
                </label>
                
                <label class="tipo">
                    <input type="radio" name="tipo" value="usuario" class='user'>Usuário
                    <input type="radio" name="tipo" value="motorista" class='driver'>Motorista
                </label>

                <button type="button" class="submit" id='sign-up'>Cadastrar</button>
                <button type="button" class="fb-btn">Entre com <span>Facebook</span></button>
            </div>

            <div class="form sign-up-info">
                <h2>Sinta-se em casa</h2>
                <label for="">
                    <span>Telefone</span>
                    <input type="tel" name="phone">
                </label>
                
                <label for="">
                    <span>CPF</span>
                    <input type="number" name="cpf">
                </label>

                <label for="">
                    <span>Documento de Identificação</span>
                    <input type="number" name="rg">
                </label>

                <label for="attachment" class='attachment-label'>
                    <span>Anexar documento</span>
                    <input type="file" id='attachment' name="document-image">
                </label>

                <button type="button" class="submit" id='sign-up-info'>Avançar</button>
                <button type="button" class="fb-btn" id='sign-up-back'>Voltar</button>
            </div>

            <div class="form sign-up-info-second">
                <h2>Sinta-se em casa</h2>
                <label for="">
                    <span>Estado</span>
                    <select name="state" id='estado'>
                        <option selected="" value="" disabled>Selecione o Estado</option>
                    </select>
                </label>

                <label for="">
                    <span>Cidade</span>
                    <select name="city" id="cidade">
                    </select>
                </label>

                <label for="">
                    <span>Estado Civil</span>
                    <select name="civilState">
                        <option selected value="" disabled>Selecione</option>
                        <option value="solteiro">Solteiro(a)</option>
                        <option value="casado">Casado(a)</option>
                        <option value="viuvo">Viuvo(a)</option>
                        <option value="divorciado">Divorciado(a)</option>

                    </select>
                </label>

                <label for='' class='checkbox-container'>
                <input type="checkbox" class="checkbox" name='terms'>
                <span>Eu li e aceito os <a href='#' class='terms'>Termos de Uso</a> da plataforma.</span>
                </label>

                <button type="submit" class="submit" id='sign-up-info-second'>Enviar</button>
                <button type="button" class="fb-btn" id='sign-up-back-second'>Voltar</button>
            </div>
            </form>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script>
        document.querySelector('.img__btn').addEventListener('click', function(){
            document.querySelector('.cont').classList.toggle('s--signup');
        });
        document.querySelector('#sign-up').addEventListener('click',function(){
            document.querySelector('.sign-up-info').classList.remove('sign-up-1');
            document.querySelector('.sign-up').classList.remove('sign-up-1');
            document.querySelector('.sign-up-info').classList.add('sign-up-2');
            document.querySelector('.sign-up').classList.add('sign-up-2')
        })
        document.querySelector('#sign-up-back').addEventListener('click',function(){
            document.querySelector('.sign-up-info').classList.remove('sign-up-2');
            document.querySelector('.sign-up').classList.remove('sign-up-2');
            document.querySelector('.sign-up-info').classList.add('sign-up-1');
            document.querySelector('.sign-up').classList.add('sign-up-1');
        })
        document.querySelector('#sign-up-info').addEventListener('click',function(){
            document.querySelector('.sign-up-info.sign-up-2').classList.remove('sign-up-2');
            document.querySelector('.sign-up-info-second').classList.remove('sign-up-2');
            document.querySelector('.sign-up-info-second').classList.add('sign-up-3');
            document.querySelector('.sign-up-info').classList.add('sign-up-3');
        })
        document.querySelector('#sign-up-back-second').addEventListener('click',function(){
            document.querySelector('.sign-up-info-second').classList.remove('sign-up-3');
            document.querySelector('.sign-up-info').classList.remove('sign-up-3');
            document.querySelector('.sign-up-info').classList.add('sign-up-2');
            document.querySelector('.sign-up-info-second').classList.add('sign-up-2');
        })
        let estados = [{
      sigla: '<%=estados[0].sigla%>',
      nome: '<%=estados[0].nome%>',
      cidades: '<%=estados[0].cidades%>'
    },{
      sigla: '<%=estados[1].sigla%>',
      nome: '<%=estados[1].nome%>',
      cidades: '<%=estados[1].cidades%>'
    },{
      sigla: '<%=estados[2].sigla%>',
      nome: '<%=estados[2].nome%>',
      cidades: '<%=estados[2].cidades%>'
    },{
      sigla: '<%=estados[3].sigla%>',
      nome: '<%=estados[3].nome%>',
      cidades: '<%=estados[3].cidades%>'
    },{
      sigla: '<%=estados[4].sigla%>',
      nome: '<%=estados[4].nome%>',
      cidades: '<%=estados[4].cidades%>'
    },{
      sigla: '<%=estados[5].sigla%>',
      nome: '<%=estados[5].nome%>',
      cidades: '<%=estados[5].cidades%>'
    },{
      sigla: '<%=estados[6].sigla%>',
      nome: '<%=estados[6].nome%>',
      cidades: '<%=estados[6].cidades%>'
    },{
      sigla: '<%=estados[7].sigla%>',
      nome: '<%=estados[7].nome%>',
      cidades: '<%=estados[7].cidades%>'
    },{
      sigla: '<%=estados[8].sigla%>',
      nome: '<%=estados[8].nome%>',
      cidades: '<%=estados[8].cidades%>'
    },{
      sigla: '<%=estados[9].sigla%>',
      nome: '<%=estados[9].nome%>',
      cidades: '<%=estados[9].cidades%>'
    },{
      sigla: '<%=estados[10].sigla%>',
      nome: '<%=estados[10].nome%>',
      cidades: '<%=estados[10].cidades%>'
    },{
      sigla: '<%=estados[11].sigla%>',
      nome: '<%=estados[11].nome%>',
      cidades: '<%=estados[11].cidades%>'
    },{
      sigla: '<%=estados[12].sigla%>',
      nome: '<%=estados[12].nome%>',
      cidades: '<%=estados[12].cidades%>'
    },{
      sigla: '<%=estados[13].sigla%>',
      nome: '<%=estados[13].nome%>',
      cidades: '<%=estados[13].cidades%>'
    },{
      sigla: '<%=estados[14].sigla%>',
      nome: '<%=estados[14].nome%>',
      cidades: '<%=estados[14].cidades%>'
    },{
      sigla: '<%=estados[15].sigla%>',
      nome: '<%=estados[15].nome%>',
      cidades: '<%=estados[15].cidades%>'
    },{
      sigla: '<%=estados[16].sigla%>',
      nome: '<%=estados[16].nome%>',
      cidades: '<%=estados[16].cidades%>'
    },{
      sigla: '<%=estados[17].sigla%>',
      nome: '<%=estados[17].nome%>',
      cidades: '<%=estados[17].cidades%>'
    },{
      sigla: '<%=estados[18].sigla%>',
      nome: '<%=estados[18].nome%>',
      cidades: '<%=estados[18].cidades%>'
    },{
      sigla: '<%=estados[19].sigla%>',
      nome: '<%=estados[19].nome%>',
      cidades: '<%=estados[19].cidades%>'
    },{
      sigla: '<%=estados[20].sigla%>',
      nome: '<%=estados[20].nome%>',
      cidades: '<%=estados[20].cidades%>'
    },{
      sigla: '<%=estados[21].sigla%>',
      nome: '<%=estados[21].nome%>',
      cidades: '<%=estados[21].cidades%>'
    },{
      sigla: '<%=estados[22].sigla%>',
      nome: '<%=estados[22].nome%>',
      cidades: '<%=estados[22].cidades%>'
    },{
      sigla: '<%=estados[23].sigla%>',
      nome: '<%=estados[23].nome%>',
      cidades: '<%=estados[23].cidades%>'
    },{
      sigla: '<%=estados[24].sigla%>',
      nome: '<%=estados[24].nome%>',
      cidades: '<%=estados[24].cidades%>'
    },{
      sigla: '<%=estados[25].sigla%>',
      nome: '<%=estados[25].nome%>',
      cidades: '<%=estados[25].cidades%>'
    },{
      sigla: '<%=estados[26].sigla%>',
      nome: '<%=estados[26].nome%>',
      cidades: '<%=estados[26].cidades%>'
    },]
    let estadoSelect = document.getElementById("estado"); 
    let cidadeSelect = document.getElementById("cidade"); 
    for(var i = 0; i < estados.length; i++) {
      var opt = document.createElement("option");
      opt.textContent = estados[i].nome;
      opt.value = estados[i].sigla;
      estadoSelect.appendChild(opt)
    }
    let indexEstado;
    let cidadesEstadoEscolhido;
    let cidadesOpt;
    document.querySelector('#estado').addEventListener('change',(event)=>{
      cidadesEstadoEscolhido = undefined;
      cidadesOpt = undefined;
      cidadesOpt = cidadeSelect.children.length
      for (i=0;i<cidadesOpt;i++){
        cidadeSelect.remove(cidadeSelect.children)
      }
      let estadoEscolhido = event.target.value
      estados.forEach((term)=>{
        if (term.sigla == estadoEscolhido){
          indexEstado = term.cidades
        }
      })
      cidadesEstadoEscolhido = indexEstado.split(',')
      var opt = document.createElement("option");
        opt.textContent = 'Selecione uma cidade';
        opt.disabled = true;
        opt.selected = true;
        cidadeSelect.appendChild(opt)
      for(var i = 0; i < cidadesEstadoEscolhido.length; i++) {
        var opt = document.createElement("option");
        opt.textContent = cidadesEstadoEscolhido[i];
        opt.value = cidadesEstadoEscolhido[i];
        cidadeSelect.appendChild(opt)
      }
    })
    </script>

</body>
</html>